{% extends 'admin_templates/base.html' %}
{% block title %}Create Category{% endblock title %}
{% block custom_css %}{% endblock custom_css %}
{% block page_title %}Create Category{% endblock page_title %}
{% block page_content %}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Categories</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == "id" %}
                        <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}" class="d-none">
                    {% elif field.name == "is_active" %}
                    <div class="form-group">
                        <label class="custom-switch mt-2">
                            <input type="checkbox" name="is_active" value="1" class="custom-switch-input">
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description">Is active?</span>
                        </label>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.name }}" class="form-control {% if field.errors %}is-invalid{% endif %}">
                        <small class="form-text text-danger form-feedback">{{ field.errors }}</small>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-danger btn-block">SAVE CATEGORY</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
{% block custom_js %}{% endblock custom_js %}