{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div class="search-element">
            <form method="get">
                <div class="row mx-0 form-group">
                    <input  type="search" placeholder="Search" aria-label="Search" data-width="250" class="col form-control" style="border-radius: 0" placeholder="Nhập số nguyên dương bất kỳ"  name="filter" value="{{ filter }}">
                    <button type="submit" class="col-3 btn btn-danger" style="border-radius: 0;">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>