{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand"><i class="fa fa-bomb fa-2x" aria-hidden="true">FTEN</i></div>
        <div class="sidebar-brand sidebar-brand-sm"><i class="fa fa-bomb" aria-hidden="true">FTEN</i></div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="dropdown active">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-chart-pie"></em><span>&nbsp; Dashboard</span></a>
                <ul class="dropdown-menu">
                    <li class=active>
                        <a class="nav-link" href="general_dashboard.html">
                            <em class="fas fas fa-chart-line"></em><span> &nbsp;General Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="ecommerce_dashboard.html">
                            <em class="fas fa-chart-area"></em><span>&nbsp; Ecommerce Dashboard</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-header">Starter</li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                    <em class="fas fa-columns"></em><span> &nbsp;Layout</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="layout-default.html">Default Layout</a></li>
                    <li><a class="nav-link" href="layout-transparent.html">Transparent Sidebar</a></li>
                    <li><a class="nav-link" href="layout-top-navigation.html">Top Navigation</a></li>
                </ul>
            </li>
        </ul>
        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="{% url 'admin_logout_process' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <span><em class="fas fas fa-sign-out-alt"></em> LOGOUT</span>
            </a>
        </div>
    </aside>
</div>