{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand"><em class="fa fa-atom fa-2x text-danger" aria-hidden="true">FTEN</em></div>
        <div class="sidebar-brand sidebar-brand-sm"><em class="fa fa-atom" aria-hidden="true">FTEN</em></div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            {% url 'category_list' as category_list %}
            {% url 'category_create' as category_create %}
            {% url 'category_update' id as category_update %}
            <li class="dropdown {% if request.path == category_list %} active {% endif %}{% if request.path == category_create %} active {% endif %}{% if request.path == category_update %} active {% endif %}">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-dice-d6"></em><span>&nbsp;Category</span></a>
                <ul class="dropdown-menu">
                    <li class='{% if request.path == category_list %} active {% endif %}{% if request.path == category_update %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'category_list' %}">
                            <em class="fas fa-list"></em>
                            <span>&nbsp;All Categories</span>
                        </a>
                    </li>
                    <li class='{% if request.path == category_create %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'category_create' %}">
                            <em class="far fa-plus-square" aria-hidden="true"></em>
                            <span>&nbsp;Add categories</span>
                        </a>
                    </li>
                </ul>
            </li>

            {% url 'sub_category_list' as sub_category_list %}
            {% url 'sub_category_create' as sub_category_create %}
            {% url 'sub_category_update' id as sub_category_update %}
            <li class="dropdown {% if request.path == sub_category_list %} active {% endif %}{% if request.path == sub_category_create %} active {% endif %}{% if request.path == sub_category_update %} active {% endif %}">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-dice-d6"></em><span>&nbsp;Sub Category</span></a>
                <ul class="dropdown-menu">
                    <li class='{% if request.path == sub_category_list %} active {% endif %}{% if request.path == sub_category_update %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'sub_category_list' %}">
                            <em class="fas fa-list"></em>
                            <span>&nbsp;All Sub Categories</span>
                        </a>
                    </li>
                    <li class='{% if request.path == sub_category_create %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'sub_category_create' %}">
                            <em class="far fa-plus-square" aria-hidden="true"></em>
                            <span>&nbsp;Add Sub Categories</span>
                        </a>
                    </li>
                </ul>
            </li>

            {% url 'merchant_create' as merchant_create %}
            {% url 'merchant_list' as merchant_list %}
            {% url 'merchant_update' id as merchant_update %}
            <li class="dropdown {% if request.path == merchant_create %} active {% endif %}{% if request.path == merchant_list %} active {% endif %} {% if request.path == merchant_update %} active {% endif %}">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-dice-d6"></em><span>&nbsp;Merchant User</span></a>
                <ul class="dropdown-menu">
                    <li class='{% if request.path == merchant_list %} active {% endif %} {% if request.path == merchant_update %} active {% endif %}' >
                        <a class="nav-link" href="{% url 'merchant_list' %}">
                            <em class="fas fa-list"></em>
                            <span>&nbsp;Merchant User List</span>
                        </a>
                    </li>
                    <li class='{% if request.path == merchant_create %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'merchant_create' %}">
                            <em class="far fa-plus-square"></em>
                            <span>&nbsp;Add Merchant User</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            {% url 'product_view' as product_view %}
            {% url 'product_list' as product_list %}
            {% url 'product_edit' product.id as product_edit %}
            {% url 'product_add_media' product.id as product_add_media %}
            {% url 'product_edit_media' product.id as product_edit_media %}
            {% url 'product_add_stocks' product.id as product_add_stocks %}
            <li class="dropdown {% if request.path == product_view %} active {% endif %}  {% if request.path == product_list %} active {% endif %} {% if request.path == product_edit %} active {% endif %}{% if request.path == product_add_media %} active {% endif %}{% if request.path == product_edit_media %} active {% endif %}{% if request.path == product_add_stocks %} active {% endif %}">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-dice-d6"></em><span>&nbsp;Products</span></a>
                <ul class="dropdown-menu">
                    <li class="{% if request.path == product_list %} active {% endif %} {% if request.path == product_edit %} active {% endif %} {% if request.path == product_add_media %} active {% endif %}{% if request.path == product_edit_media %} active {% endif %}{% if request.path == product_add_stocks %} active {% endif %}'">
                        <a class="nav-link" href="{% url 'product_list' %}">
                            <em class="fas fa-list"></em>
                            <span>&nbsp;Product List</span>
                        </a>
                    </li>
                    <li class="{% if request.path == product_view %} active {% endif %}">
                        <a class="nav-link" href="{% url 'product_view' %}">
                            <em class="far fa-plus-square"></em>
                            <span>&nbsp;Add Product</span>
                        </a>
                    </li>
                </ul>
            </li> 

            {% url 'staff_create' as staff_create %}
            {% url 'staff_list' as staff_list %}
            {% url 'staff_update' id as staff_update %}
            <li class="dropdown {% if request.path == staff_create %} active {% endif %}{% if request.path == staff_list %} active {% endif %} {% if request.path == staff_update %} active {% endif %}">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-dice-d6"></em><span>&nbsp;Staff User</span></a>
                <ul class="dropdown-menu">
                    <li class='{% if request.path == staff_list %} active {% endif %} {% if request.path == staff_update %} active {% endif %}' >
                        <a class="nav-link" href="{% url 'staff_list' %}">
                            <em class="fas fa-list"></em>
                            <span>&nbsp;Staff User List</span>
                        </a>
                    </li>
                    <li class='{% if request.path == staff_create %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'staff_create' %}">
                            <em class="far fa-plus-square"></em>
                            <span>&nbsp;Add Staff User</span>
                        </a>
                    </li>
                </ul>
            </li>

            {% url 'customer_create' as customer_create %}
            {% url 'customer_list' as customer_list %}
            {% url 'customer_update' id as customer_update %}
            <li class="dropdown {% if request.path == customer_create %} active {% endif %}{% if request.path == customer_list %} active {% endif %} {% if request.path == customer_update %} active {% endif %}">
                <a href="#" class="nav-link has-dropdown"><em class="fas fas fa-dice-d6"></em><span>&nbsp;Customer User</span></a>
                <ul class="dropdown-menu">
                    <li class='{% if request.path == customer_list %} active {% endif %} {% if request.path == customer_update %} active {% endif %}' >
                        <a class="nav-link" href="{% url 'customer_list' %}">
                            <em class="fas fa-list"></em>
                            <span>&nbsp;Customer User List</span>
                        </a>
                    </li>
                    <li class='{% if request.path == customer_create %} active {% endif %}'>
                        <a class="nav-link" href="{% url 'customer_create' %}">
                            <em class="far fa-plus-square"></em>
                            <span>&nbsp;Add Customer User</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="{% url 'admin_logout_process' %}" class="btn btn-secondary btn-lg btn-block btn-icon-split">
                <span><em class="fas fas fa-sign-out-alt"></em> LOGOUT</span>
            </a>
        </div>
    </aside>
</div>